.search-bar {
	display: flex;
	gap: 5px;
}
input {
  font-size: 18px;
  padding: 5px 10px;
  padding-left: 35px;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 1px solid #c4d1eb;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.3s ease;
}

button {
  background-color: #ff6600;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  padding:  10px 20px;
}
